@import 'index.scss';

article.list-view {
    @extend .p-3;
    @extend .card;
    @extend .shadow-sm;
    @extend .rounded;

    table.table {
        td,
        th {
            padding: 0.9rem 0.7rem;

            &:last-child {
                text-align: right;
            }
        }
    }
}

article.detail-view,
article.add-view {
    @extend .card;
    @extend .shadow-sm;
    @extend .rounded;

    > header {
        @extend .card-header;
    }

    .form-floating.col {
        > label {
            padding-left: 1.5rem;
        }
    }
}
