$sidebarWidth: 16.25rem;

div.mainbody {
    margin-left: $sidebarWidth !important;
    width: calc(100% - $sidebarWidth) !important;
}

header.pageheader {
    top: 0;
    left: $sidebarWidth;
    width: calc(100% - $sidebarWidth) !important;
}

footer.navfooter {
    bottom: 0;
    width: $sidebarWidth;
}

aside.sidebar {
    width: $sidebarWidth;
}

main.dashboard {
    margin-top: 4.5rem;
    min-height: calc(100vh - 9rem + 1px);
}

footer.pagefooter {
    min-height: 4.5rem;
}
