# Robotframework specific tools
robotframework
robotframework-requests
robotframework-selenium2library 
robotframework-djangolibrary
xvfbwrapper
robotframework-xvfb
certifi
asn1crypto 
bcrypt
robotframework-sshlibrary
cryptography
pyOpenSSL 
idna
requests[security]
